<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

    <connectionStrings>
      <add name="SachOnline" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\tungb\Desktop\SachOnline\SachOnline\App_Data\SachOnline.mdf;Integrated Security=True"/>
    </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>